<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://mysql.cllddpufnmqr.ap-northeast-2.rds.amazonaws.com:3306/Spring"/>
        <property name="username" value="binu2893"/>
        <property name="password" value="4thMemorize"/>
    </bean>

    <context:component-scan base-package="org.memorize"/>

    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="1"/>
        <property name="maxPoolSize" value="5"/>
        <property name="queueCapacity" value="100"/>
        <property name="threadNamePrefix" value="executor-task-"/>
        <property name="threadGroupName" value="executor-tasks"/>
    </bean>
    <bean id="taskScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="5"/>
        <property name="threadNamePrefix" value="scheduled-task-"/>
        <property name="threadGroupName" value="scheduled-tasks"/>
    </bean>
    <task:executor id="asyncExecutor" pool-size="5-10" queue-capacity="1000" rejection-policy="ABORT"/>
    <task:annotation-driven executor="asyncExecutor"/>

    <!-- SqlSessionFactory : Object for Connection and SQL execute  between DB and Spring-->
<!--    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--        <property name="configLocation" value="classpath:/mybatis-config.xml"/>-->
<!--        <property name="mapperLocations" value="classpath:/exampleMapper.xml"/>-->
<!--    </bean>-->
<!--    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">-->
<!--        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
<!--    </bean>-->

    <bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:/boardMapper.xml"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory2"/>
    </bean>
</beans>